{% extends 'polish/home/base.html' %}

{% block content %}
<section class="container my-5">
    <h2 class="text-center mb-4">Aplikuj na: {{ job.title }}</h2>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post" class="form">
                {% csrf_token %}
                <fieldset class="mb-3">
                    {{ form.as_p }}
                </fieldset>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-success me-md-2">Aplikuj</button>
                    <a href="{% url 'jobs:job_detail' job_id=job.pk %}" class="btn btn-info">Szczegóły</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
