{% extends 'polish/home/base.html' %}

{% block content %}
<section class="container my-5">
    <h2 class="mb-4 text-center">Opinie gości</h2>
    <div class="mb-4 text-center">
        <a href="{% url 'jobs:recruiter_applications' %}" class="btn btn-secondary">Aplikacje zarejestrowane</a>
        <a href="{% url 'jobs:guest_applications' %}" class="btn btn-secondary">Aplikacje gości</a>
        <a href="{% url 'jobs:create_job' %}" class="btn btn-success">Dodaj ofertę</a>
        <a href="{% url 'jobs:job_list' %}" class="btn btn-warning">Wszystkie oferty pracy</a>
    </div>
    {% if feedbacks %}
        <ul class="list-group">
            {% for feedback in feedbacks %}
                <li class="list-group-item shadow-sm p-3 mb-3 rounded">
                    <strong>Email:</strong> {{ feedback.email }}<br>
                    <strong>Telefon:</strong> {{ feedback.phone_number }}<br>
                    <strong>Wiadomość:</strong> {{ feedback.message }}<br>
                    <strong>Praca:</strong> {{ feedback.job.title }}<br>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-info text-center" role="alert">
            Brak opinii gości.
        </div>
    {% endif %}
</section>
{% endblock %}
