{% extends 'polish/dashboard/dashboard.html' %}
{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-body">
            <h2 class="h5">Task: {{ task.title }}</h2>
            <p><strong>Description:</strong> {{ task.description }}</p>
            <p><strong>Priority:</strong> {{ task.get_priority_display }}</p>
            <p><strong>Status:</strong> {{ task.get_status_display }}</p>
            <p><strong>Due Date:</strong> {{ task.due_date|date:"d M Y" }}</p>
            <a href="{% url 'accounts:task_update' task.pk %}" class="btn btn-warning me-1">Edit</a>
            <a href="{% url 'accounts:task_list' %}" class="btn btn-secondary">Back to Task List</a>
        </div>
    </div>
</div>
{% endblock %}
