
{% extends "accounts/../home/base.html" %}

{% block title %}O nas - KIRIS M.O.R.{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">KIRIS M.O.R.</h1>
        </div>
    </div>

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        Dla kandydatów
                    </h3>
                    <p class="card-text mb-auto">Agencja Pracy KIRIS M.O.R. specjalizuje się...</p>
                    <p>Agencja Pracy KIRIS M.O.R. specjalizuje się w rekrutacji i zatrudnianiu pracowników z Gruzji,
            Ukrainy i Mołdawii. Jesteśmy ekspertami w dostosowywaniu ofert pracy do kwalifikacji i oczekiwań naszych klientów.
            Naszym celem jest zapewnienie Ci stabilnego zatrudnienia oraz wsparcia w procesie legalizacji pracy i pobytu w Polsce.
            Oferujemy kompleksowe wsparcie na każdym etapie, od aplikacji po zakwaterowanie i integrację w miejscu pracy.
            Wybierając nas, wybierasz solidnego i doświadczonego partnera w budowaniu Twojej przyszłości zawodowej za granicą.</p>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                        Dla klientów
                    </h3>
                    <p class="card-text mb-auto">Agencja Pracy KIRIS M.O.R. to renomowany partner...</p>
                     <p>Agencja Pracy KIRIS M.O.R. to renomowany partner w zakresie międzynarodowej rekrutacji pracowników.
            Specjalizujemy się w dostarczaniu wykwalifikowanych kandydatów z Gruzji, Ukrainy i Mołdawii,
            wspierając polskie przedsiębiorstwa w efektywnym wypełnianiu luki kadrowej. Zapewniamy pełne wsparcie w procesie selekcji,
            legalizacji oraz adaptacji pracowników, gwarantując wysoką jakość i zgodność z obowiązującymi przepisami prawa.
            Nasze usługi są synonimem niezawodności i dostosowania do specyficznych potrzeb każdej branży.
            Wybierając Agencję Pracy KIRIS M.O.R., decydujesz się na optymalizację procesów zatrudnienia oraz zwiększenie konkurencyjności Twojego biznesu.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
