{% extends "accounts/../home/base.html" %}

{% block title %}O nas - KIRIS M.O.R.{% endblock %}

{% block content %}
    <div class="about-us-header">
        <h1> KIRIS M.O.R.</h1>
    </div>

    <div class="about-us-content">
        <h2>Dla kandydatów</h2>
        <p>Agencja Pracy KIRIS M.O.R. specjalizuje się w rekrutacji i zatrudnianiu pracowników z Gruzji,
            Ukrainy i Mołdawii. Jesteśmy ekspertami w dostosowywaniu ofert pracy do kwalifikacji i oczekiwań naszych klientów.
            Naszym celem jest zapewnienie Ci stabilnego zatrudnienia oraz wsparcia w procesie legalizacji pracy i pobytu w Polsce.
            Oferujemy kompleksowe wsparcie na każdym etapie, od aplikacji po zakwaterowanie i integrację w miejscu pracy.
            Wybierając nas, wybierasz solidnego i doświadczonego partnera w budowaniu Twojej przyszłości zawodowej za granicą.</p>

        <h2>Dla klientów</h2>
        <p>Agencja Pracy KIRIS M.O.R. to renomowany partner w zakresie międzynarodowej rekrutacji pracowników.
            Specjalizujemy się w dostarczaniu wykwalifikowanych kandydatów z Gruzji, Ukrainy i Mołdawii,
            wspierając polskie przedsiębiorstwa w efektywnym wypełnianiu luki kadrowej. Zapewniamy pełne wsparcie w procesie selekcji,
            legalizacji oraz adaptacji pracowników, gwarantując wysoką jakość i zgodność z obowiązującymi przepisami prawa.
            Nasze usługi są synonimem niezawodności i dostosowania do specyficznych potrzeb każdej branży.
            Wybierając Agencję Pracy KIRIS M.O.R., decydujesz się na optymalizację procesów zatrudnienia oraz zwiększenie konkurencyjności Twojego biznesu.</p>
    </div>
{% endblock %}
