<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>KIRIS M.O.R.</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body style="background-image: url('{% static 'images/body.jpg' %}');">
    <header>
        <div class="logo">
            <!-- Убедитесь, что путь к изображению логотипа правильный -->
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="KIRIS M.O.R." />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Strona główna</a></li>
                <li><a href="{% url 'contact' %}">Kontakt</a></li>
                <li><a href="{% url 'about' %}">O nas</a></li>
                <li><a href="#">Oferty pracy</a></li>
                <li><a href="#">Nasi klienci</a></li>
                <li><a href="{% url 'accounts:login' %}">Logowanie</a></li>
                <li><a href="{% url 'accounts:register' %}">Rejestracja</a></li>
            </ul>
        </nav>
    </header>
        <!-- //--------------------------- page content -------------------------// -->
    {% block content %}
    <main>
        <section class="main-content">
            <h1>Tytuł stanowiska: Specjalista ds. Obsługi Klienta</h1>
            <p>Opis stanowiska: Osoba na tym stanowisku będzie odpowiedzialna za bezpośredni kontakt z klientami firmy,
                rozwiązywanie problemów oraz udzielanie informacji o produktach i usługach.</p>
            <p>Wymagania: Doskonałe umiejętności komunikacyjne, doświadczenie w obsłudze klienta, biegłość w obsłudze komputera.</p>
        </section>

        <section class="how-we-work">
            <div class="work-step">
                <img src="{% static 'images/Icon_1.png' %}" alt="Kontakt" class="icon-small">
                <h2>Skontaktuj się z nami</h2>
                <p>Jeśli masz pytania lub sugestie, prosimy, nie wahaj się z nami skontaktować. Skontaktuj się z nami,
                    aby omówić swoje potrzeby i możliwości. Nasz zespół specjalistów jest gotowy, aby odpowiedzieć na
                    wszystkie pytania i pomóc znaleźć najlepsze rozwiązanie dla Ciebie.</p>
            </div>
            <div class="work-step">
                <img src="{% static 'images/Icon_2.png' %}" alt="Dokumenty" class="icon-small">
                <h2>Przygotowanie dokumentów</h2>
                <p>Przygotujemy wszystkie niezbędne dokumenty. Wspólnie przeanalizujemy wszystkie
                    detale i odpowiemy na dodatkowe pytania.</p>
            </div>
            <div class="work-step">
                <img src="{% static 'images/Icon_3.png' %}" alt="Przyjazd" class="icon-small">
                <h2>Przyjazd i zakwaterowanie</h2>
                <p>Po finalizacji wszystkich formalności ustalisz datę przyjazdu na projekt. Nasz koordynator będzie na
                    Ciebie czekał po przyjeździe, zapewni Ci ciepłe powitanie i pomoże w zakwaterowaniu.</p>
            </div>
            <div class="work-step">
                <img src="{% static 'images/Icon_4.png' %}" alt="Wsparcie" class="icon-small">
                <h2>Wsparcie i kontakt</h2>
                <p>Jesteśmy z Tobą na każdym kroku Twojej kariery. Nasz zespół jest zawsze dostępny, aby pomóc i
                    odpowiedzieć на wszelkie pytania, zapewniając ciągłe wsparcie i komunikację.</p>
            </div>
        </section>

        <section class="contact-section">
            <div class="contact">
                <h2>Jeśli masz pytania lub sugestie, prosimy, nie wahaj się z nami skontaktować.</h2>
            </div>
            <div class="contact-infoo">
                <h2>Informacje kontaktowe</h2>
                <p>Email: <a href="mailto:info@agencja.pracy.pl">info@agencja.pracy.pl</a></p>
                <p>Telefon: <a href="tel:+48123456789">+48 123 456 789</a></p>
                <p>Adres: ul. Staszica 12c, Wrocław, Polska</p>
            </div>
            <div class="social-media">
                <h2>Śledź nas</h2>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
            </div>
        </section>

    </main>
        {% endblock content %}
    <!-- //--------------------------- page content end ---------------------// -->
    <footer>
        <div class="copyright">
            <p>© 2024 Agencji Pracy KIRIS M.O.R. Wszelkie prawa zastrzeżone.</p>
        </div>
    </footer>
</body>
</html>
