{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>KIRIS M.O.R.</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="d-flex flex-column min-vh-100">
        <header class="bg-dark text-white sticky-top" style="z-index: 1030;">
               <nav class="navbar navbar-expand-lg navbar-dark container">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Logo KIRIS M.O.R." class="rounded-circle" style="height: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">Strona główna</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Kontakt</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">O nas</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'jobs:public_job_list' %}">Oferty pracy</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:client_list' %}">Nasi klienci</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:recruiters' %}">Nasi rekruterzy</a></li> 
                        <li class="nav-item"><a class="nav-link" href="{% url 'news:all_news_view' %}">Nowosci</a></li> 
                    </ul>
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                                    User Menu
                                </button>
                                <ul class="dropdown-menu">
                                     {% if request.session.role == 'candidate' %}
                                        <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' %}">Mój profil</a></li>
                                        <li><a class="dropdown-item" href="{% url 'jobs:job_list' %}">Oferty pracy</a></li>
                                        <li><a class="dropdown-item" href="{% url 'jobs:application_list' %}">Aplikacje</a></li>
                                     {% elif request.session.role == 'client' %}
                                        <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' %}">Profil</a></li>
                                        <li><a class="dropdown-item" href="{% url 'jobs:job_list' %}">Oferty pracy</a></li>
                                        <li><a class="dropdown-item" href="{% url 'requests:recruiter_list' %}">Rekruterzy</a></li>
                                        <li><a class="dropdown-item" href="{% url 'requests:client_job_request_create' %}">Stwórz wniosek</a></li>
                                        <li><a class="dropdown-item" href="{% url 'requests:client_job_request_list' %}">Wnioski</a></li>
                                     {% elif request.session.role == 'recruiter' %}
                                        <li><a class="dropdown-item" href="{% url 'accounts:profile_detail' %}">Mój profil</a></li>
                                        <li><a class="dropdown-item" href="{% url 'jobs:job_list' %}">Oferty pracy</a></li>
                                        <li><a class="dropdown-item" href="{% url 'jobs:create_job' %}">Dodaj ofertę pracy</a></li>
                                         <li><a class="dropdown-item" href="{% url 'jobs:recruiter_job_list' %}">Moje Oferty Pracy</a></li>
                                        <li><a class="dropdown-item" href="{% url 'accounts:task_list' %}">Zarządzaj zadaniami</a></li>
                                         <li><a class="dropdown-item" href="{% url 'jobs:recruiter_applications' %}">Aplikacje</a></li>
                                         <li><a class="dropdown-item" href="{% url 'requests:recruiter_job_request_list' %}">Zapytania pracodawcow</a></li>
                                    {% endif %}
                                </ul>
                            </li>
        
                            <li class="nav-item">
                                <form action="{% url 'accounts:logout' %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-link nav-link">Wyloguj się</button>
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Logowanie</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Rejestracja</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>


       
            {% block content %}
             <main class="container flex-fill mt-3">    
                <div id="jobCarousel" class="carousel slide main-slider" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for job in jobs %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8 mx-auto text-center">
                                            <h1 class="display-4 mb-3">Tytuł stanowiska: {{ job.title }}</h1>
                                            <p class="lead">Opis stanowiska: {{ job.description }}</p>
                                            <p class="lead">Wymagania: {{ job.requirements }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev btn btn-light" type="button" data-bs-target="#jobCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Poprzedni</span>
                    </button>
                    <button class="carousel-control-next btn btn-light" type="button" data-bs-target="#jobCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Następny</span>
                    </button>
                </div>

                <section class="how-we-work row gx-5">
                    <div class="col-md-6 mb-4">
                        <div class="work-step card shadow-sm p-4 h-100">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{% static 'images/Icon_1.png' %}" alt="Kontakt" class="icon-small me-3">
                                <h2 class="h5 fw-bold mb-0">Skontaktuj się z nami</h2>
                            </div>
                            <p>Jeśli masz pytania lub sugestie, prosimy, nie wahaj się z nami skontaktować. Skontaktuj się z nami, aby omówić swoje potrzeby i możliwości. Nasz zespół specjalistów jest gotowy, aby odpowiedzieć na wszystkie pytania i pomóc znaleźć najlepsze rozwiązanie dla Ciebie.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="work-step card shadow-sm p-4 h-100">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{% static 'images/Icon_2.png' %}" alt="Dokumenty" class="icon-small me-3">
                                <h2 class="h5 fw-bold mb-0">Przygotowanie dokumentów</h2>
                            </div>
                            <p>Przygotujemy wszystkie niezbędne dokumenty. Wspólnie przeanalizujemy wszystkie detale i odpowiemy na dodatkowe pytania.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="work-step card shadow-sm p-4 h-100">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{% static 'images/Icon_3.png' %}" alt="Przyjazd" class="icon-small me-3">
                                <h2 class="h5 fw-bold mb-0">Przyjazd i zakwaterowanie</h2>
                            </div>
                            <p>Po finalizacji wszystkich formalności ustalisz datę przyjazdu na projekt. Nasz koordynator będzie na ciebie czekał po przybyciu, zapewni ci ciepłe powitanie i pomoże w zakwaterowaniu.</p>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="work-step card shadow-sm p-4 h-100">
                            <div class="d-flex align-items-center mb-3">
                                <img src="{% static 'images/Icon_4.png' %}" alt="Wsparcie" class="icon-small me-3">
                                <h2 class="h5 fw-bold mb-0">Wsparcie i kontakt</h2>
                            </div>
                            <p>Jesteśmy z Tobą na każdym kroku Twojej kariery. Nasz zespół jest zawsze dostępny, aby pomóc i odpowiedzieć na wszelkie pytania, zapewniając ciągłe wsparcie i komunikację.</p>
                        </div>
                    </div>
                </section>
                
                <section class="contact-section mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="contact-info card p-3">
                                    <h2>Informacje kontaktowe</h2>
                                    <p>Email: <a href="mailto:info@agencja.pracy.pl">info@agencja.pracy.pl</a></p>
                                    <p>Telefon: <a href="tel:+48123456789">+48 123 456 789</a></p>
                                    <p>Adres: ul. Staszica 12c, Wrocław, Polska</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="social-media card p-3">
                                    <h2>Śledź nas</h2>
                                    <a href="#">Facebook</a>
                                    <a href="#">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
             </main>
             {% endblock %}

       <footer class="bg-dark text-white text-center py-3 mt-auto">
            <div class="container">
                <p>© 2024 Agencja Pracy KIRIS M.O.R. Wszelkie prawa zastrzeżone.</p>
            </div>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>


    

    