{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-white rounded bg-dark text-center shadow-lg">
        <h1 class="display-4 font-weight-bold">KIRIS M.O.R.</h1>
    </div>

    <!-- Contact Information Section -->
    <section class="mb-5">
        <h2 class="text-center mb-4 font-weight-bold">{% trans "Zapraszamy do kontaktu!" %}</h2>

        <!-- Contacts -->
        <div class="row text-center mb-5">
            <div class="col-md-6 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">{% trans "Ivan Ivanov" %}</h3>
                        <h5 class="card-subtitle mb-2 text-muted">{% trans "Rekruter dla rynku ukraińskiego" %}</h5>
                        <p>{% trans "Telefon" %}: <a href="tel:+48112223344">+48 112 223 344</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">{% trans "Nino Ninavasil" %}</h3>
                        <h5 class="card-subtitle mb-2 text-muted">{% trans "Rekruter dla rynku gruzińskiego" %}</h5>
                        <p>{% trans "Telefon" %}: <a href="tel:+48112225678">+48 112 225 678</a></p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Social Media and Address Information -->
        <div class="row text-center">
            <div class="col-md-6 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">{% trans "Social Media" %}</h3>
                        <p>Instagram: <a href="https://instagram.com/KIRIS_MOR" target="_blank">@KIRIS_MOR</a></p>
                        <p>Facebook: <a href="https://facebook.com/KIRIS_MOR" target="_blank">KIRIS M.O.R.</a></p>
                        <p>LinkedIn: <a href="https://linkedin.com/company/KIRIS_MOR" target="_blank">{% trans "Agencja Pracy KIRIS M.O.R." %}</a></p>
                        <p>TikTok: <a href="https://tiktok.com/@KIRISMOR" target="_blank">@KIRISMOR</a></p>
                        <p>Email: <a href="mailto:info@kiris-mor.pl">info@kiris-mor.pl</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card shadow h-100">
                    <div class="card-body">
                        <h3 class="card-title font-weight-bold">{% trans "Adres" %}</h3>
                        <p>ul. Nowowiejska 15, 00-665 Warszawa, Polska</p>
                        <h4 class="card-title mt-3 font-weight-bold">{% trans "Godziny Otwarcia" %}</h4>
                        <p>{% trans "Poniedziałek - Piątek: 8:00 - 16:00" %}</p>
                        <p>{% trans "Sobota - Niedziela: Zamknięte" %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
