{% extends "accounts/../home/base.html" %}

{% load static %}

{% block content %}
 <div class="container mt-4">
    <div class="about-us-header">
        <h1> KIRIS M.O.R.</h1>
    </div>
    <!-- Секция контактной информации -->
    <section class="contact-info">
        <h2>Zachęcamy do kontaktu z nami!</h2>
        <p>Nasz zespół jest gotowy odpowiedzieć na wszystkie pytania.</p>

        <!-- Контакты -->
        <div class="contactsі">
            <div class="contact-item">
                <h3>Ivan Ivanov (Rekruter dla rynku ukraińskiego):</h3>
                <p>Telefon: +48 112 223 344</p>
            </div>
            <div class="contact-item">
                <h3>Nino Ninavasil (Rekruter dla rynku gruzińskiego):</h3>
                <p>Telefon: +48 112 225 678</p>
            </div>
        </div>

        <!-- Социальные сети и email -->
        <div class="social-mediaa">
            <p>Instagram: @KIRIS_MOR</p>
            <p>Facebook: KIRIS M.O.R.</p>
            <p>LinkedIn: Agencja Pracy KIRIS M.O.R.</p>
            <p>TikTok: @KIRISMOR</p>
            <p>Email: info@kiris-mor.pl</p>
        </div>

        <!-- Адрес и часы работы -->
        <div class="location">
            <h3>Adres:</h3>
            <p>ul. Nowowiejska 15, 00-665 Warszawa, Polska</p>
            <h3>Godziny Otwarcia:</h3>
            <p>Poniedziałek - Piątek: 8:00 - 16:00</p>
            <p>Sobota - Niedziela: Zamknięte</p>
        </div>
    </section>
</div>
{% endblock %}
