{% extends "home/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-10">
            <div class="card bg-light text-dark shadow-lg">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-4">{% trans "Dziękujemy za opinię!" %}</h1>
                    <p class="lead mb-4">{% trans "Twoja opinia została pomyślnie wysłana." %}</p>
                    <p>{% trans "Dołącz do naszej strony już dziś, aby uzyskać dostęp do większej liczby ofert pracy i możliwości. Jeśli masz problemy z rejestracją, nasi rekruterzy zawsze są gotowi pomóc." %} <a href="{% url 'accounts:register' %}">{% trans "Zarejestruj się" %}</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact Information Section -->
<section class="my-5">
    <h2 class="text-center mb-4 font-weight-bold">{% trans "Zapraszamy do kontaktu!" %}</h2>

    <!-- Contacts -->
    <div class="row justify-content-center text-center mb-5">
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg h-100 border-0">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold">Oleksandr Kiris</h3>
                    <h5 class="card-subtitle mb-2 text-muted">{% trans "Główny kierownik/dla wszystkich rynków" %}</h5>
                    <p>{% trans "Telefon" %}: <a href="tel:+4917648743882">+4917648743882</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg h-100 border-0">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold">Eteri Nadiradze</h3>
                    <h5 class="card-subtitle mb-2 text-muted">{% trans "Rekruter dla rynku gruzińskiego" %}</h5>
                    <p>{% trans "Telefon" %}: <a href="tel:+491630468386">+491630468386</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Social Media and Address Information -->
    <div class="row justify-content-center text-center">
        <div class="col-md-4 mb-4">
            <div class="card shadow-lg h-100 border-0">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold">{% trans "Social Media" %}</h3>
                    <p>Instagram: <a href="https://www.instagram.com/oleksandr_kiriss?igsh=MzAwcmJ2MnJhZnBi&utm_source=qr" target="_blank">@oleksandr_kiriss</a></p>
                    <p>Facebook: <a href="https://www.facebook.com/share/Vo578oEXnLoM37yU/?mibextid=K35XfP" target="_blank">Facebook</a></p>
                    <p>Telegram: <a href="https://t.me/boost?c=2140329376" target="_blank">Telegram</a></p>
                    <p>WhatsApp: <a href="https://chat.whatsapp.com/BZXXpfX9AoHBfJFnPpWsSe" target="_blank">WhatsApp</a></p>
                    <p>Viber: <a href="https://invite.viber.com/?g2=AQAbAZBMBBm2kVLd0TAwS9GgqCMkCqzVGPRXFYDPCFS582HrBTlpjKzBe9gp3pmA" target="_blank">Viber</a></p>
                    <p>TikTok: <a href="https://www.tiktok.com/@oleksandr.kiris?_t=8mLRAC73B4a&_r=1" target="_blank">@oleksandr.kiris</a></p>
                    <p>Email: <a href="mailto:oleksandr.kiris@icloud.com">oleksandr.kiris@icloud.com</a></p>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card shadow-lg h-100 border-0">
                <div class="card-body">
                    <h3 class="card-title font-weight-bold">{% trans "Adres" %}</h3>
                    <p>ul. Nowowiejska 15, 00-665 Warszawa, Polska</p>
                    <h4 class="card-title mt-3 font-weight-bold">{% trans "Godziny Otwarcia" %}</h4>
                    <p>{% trans "Poniedziałek - Piątek: 8:00 - 16:00" %}</p>
                    <p>{% trans "Sobota - Niedziela: Zamknięte" %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
