{% extends "home/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5 text-primary fw-bold">{% trans "Dostępne oferty pracy" %}</h1>
    <form method="GET" action="{% url 'jobs:public_job_list' %}" class="d-flex justify-content-center mb-4">
        <div class="input-group w-75">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="{% trans 'Search...' %}" aria-label="{% trans 'Search' %}" value="{{ request.GET.q }}">
            <button class="btn btn-primary ms-2" type="submit">{% trans "Search" %}</button>
        </div>
    </form>
    <ul class="list-group" id="results-container">
        {% for job in jobs %}
        <li class="list-group-item d-flex justify-content-between align-items-center p-4 mb-3 shadow-lg rounded border-0">
            <div>
                <h4 class="fw-bold text-primary">{{ job.title }}</h4>
                <p class="mb-0 text-muted">{{ job.description|truncatewords:20 }}</p>
            </div>
            <a href="{% url 'jobs:public_job_detail' job.id %}" class="btn btn-info">{% trans "View Details" %}</a>
        </li>
        {% empty %}
        <li class="list-group-item">{% trans "No jobs found." %}</li>
        {% endfor %}
    </ul>
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="{% trans 'Previous' %}">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="visually-hidden">{% trans 'Previous' %}</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            {% if num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ num }}</a>
            </li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" aria-label="{% trans 'Next' %}">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="visually-hidden">{% trans 'Next' %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
