{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg border-0">
        <div class="card-body">
            <h1 class="card-title mb-5 text-center text-primary fw-bold">{{ job.title }}</h1>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <h4 class="fw-bold">Opis stanowiska:</h4>
                    <p>{{ job.description }}</p>
                </div>
                <div class="col-md-6 mb-4">
                    <h4 class="fw-bold">Wymagania:</h4>
                    <p>{{ job.requirements }}</p>
                    <h4 class="fw-bold mt-4">Lokalizacja:</h4>
                    <p>{{ job.location }}</p>
                    <h4 class="fw-bold mt-4">Wynagrodzenie:</h4>
                    <p>{{ job.salary }}</p>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-6 mb-3">
                    <a href="{% url 'jobs:guest_feedback' job.id %}" class="btn btn-primary w-100">Zostaw opinię</a>
                </div>
                <div class="col-md-6 mb-3">
                    <a href="{% url 'jobs:public_job_list' %}" class="btn btn-secondary w-100">Powrót</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
