{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-5 text-primary fw-bold">Available Jobs</h1>
    <form method="GET" action="{% url 'jobs:public_job_list' %}" class="d-flex justify-content-center mb-4">
        <div class="input-group w-75">
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search..." aria-label="Search" value="{{ request.GET.q }}">
            <button class="btn btn-primary ms-2" type="submit">Search</button>
        </div>
    </form>
    <ul class="list-group" id="results-container">
        {% for job in jobs %}
            <li class="list-group-item d-flex justify-content-between align-items-center p-4 mb-3 shadow-lg rounded border-0">
                <div>
                    <h4 class="fw-bold text-primary">{{ job.title }}</h4>
                    <p class="mb-0 text-muted">{{ job.description|truncatewords:20 }}</p>
                </div>
                <a href="{% url 'jobs:public_job_detail' job.id %}" class="btn btn-info">View Details</a>
            </li>
        {% endfor %}
    </ul>
    <nav class="mt-4">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Previous</a>
                </li>
            {% endif %}
            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
    
    {% block scripts %}
    <script src="{% static 'js/jobs.js' %}"></script>
    <!-- Add other scripts here -->
{% endblock %}
{% endblock %}
