{% extends "home/base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
  <div class="card shadow-lg p-4" style="width: 30rem;">
    <h2 class="card-title text-center">{% trans "Zmiana hasła" %}</h2>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="form-group">
        <label for="id_new_password">{% trans "Nowe hasło" %}</label>
        {{ form.new_password }}
        <div class="invalid-feedback">
          {% trans "Wprowadź nowe hasło." %}
        </div>
      </div>
      <div class="form-group">
        <label for="id_new_password_confirm">{% trans "Potwierdź nowe hasło" %}</label>
        {{ form.new_password_confirm }}
        <div class="invalid-feedback">
          {% trans "Potwierdź nowe hasło." %}
        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <button type="submit" class="btn btn-primary">{% trans "Zmień hasło" %}</button>
        <div>
          <a href="{% url 'accounts:profile_edit' %}" class="btn btn-secondary">{% trans 'Edytuj profil' %}</a>
          <a href="{% url 'accounts:profile_detail' %}" class="btn btn-secondary">{% trans 'Wróć do profilu' %}</a>
        </div>
      </div>
    </form>
    {% if messages %}
      <div class="mt-3">
        {% for message in messages %}
          <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}
