{% extends "accounts/../home/base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card shadow p-4">
                <div class="card-body">
                    <h2 class="mb-3 text-center">Rejestracja</h2>
                    <form method="post" class="register-form">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                {% for field, errors in form.errors.items %}
                                    {% for error in errors %}
                                        {{ error }}
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success w-100">Register</button>
                    </form>
                    <div class="mt-3 text-center">
                        <p>Jeśli już masz konto, <a href="{% url 'accounts:login' %}">Login</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
