{% extends "home/base.html" %}
{% load i18n %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-xl-6">
            <div class="card bg-light text-dark">
                <div class="card-body text-center">
                    <h1 class="display-4 mb-4">{% trans "Dziękujemy za weryfikację!" %}</h1>
                    <p class="lead mb-4">{% trans "Twój adres email został zweryfikowany. Teraz możesz się zalogować i korzystać z naszego serwisu." %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
