{% extends 'polish/home/base.html' %}

{% block content %}
<section class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2>Edytuj profil</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-success">Zapisz zmiany</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
