/* Общие стили для документа */
html, body {
    height: 100%; /* Устанавливаем высоту всей страницы */
    margin: 0; /* Убираем отступы */
}

body {
    display: flex; /* Используем flexbox для всего тела документа */
    flex-direction: column; /* Элементы в колонке */
}

/* Стили для шапки */
header {
    background-color: transparent; /* Делаем фон прозрачным */
    padding: 10px 20px;
}

/* Стилизация кнопки меню */
.btn-primary {
    background-color: #0056b3;
    border-color: #004085;
}

/* Стили для бокового меню (offcanvas) */
.offcanvas-header {
    background-color: #0056b3;
    color: white;
}

.offcanvas-body {
    background-color: #e9ecef;
}

.nav-link {
    color: #007bff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #0056b3;
}

/* Адаптивность для малых экранов */
@media (max-width: 576px) {
    .sidebar {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .footer {
        position: relative;
    }
}

/* Стили для логотипа */
.logo img {
    width: 100px;
    height: auto;
}

/* Стили для основного содержимого */
main {
    padding: 20px;
    background-color: #f8f9fa; /* Светлый фон для контента */
    flex: 1; /* Заставляет основное содержимое занимать все доступное пространство */
}

h1 {
    color: #007bff;
}

p {
    color: #6c757d;
}

/* Стили для футера */
footer {
    background-color: #343a40; /* Темный фон */
    color: white;
    text-align: center;
    padding: 20px 0; /* Подушка сверху и снизу */
}

.container {
    display: flex;
    justify-content: center; /* Центрирование содержимого */
    align-items: center;
    height: 100%;
}
