html, body {
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: #ddd;
}

/* Navbar style with improved visibility */
header.navbar {
    background-color: rgba(255, 255, 255, 0.8); /* Light background with transparency */
    padding: 10px 20px;
    display: flex; /* Ensures flexbox layout */
    justify-content: space-between; /* Distributes space between links */
    align-items: center; /* Vertically centers items */
}

.navbar .nav-link {
    color: #333; /* Darker text for visibility */
    padding: 10px 15px;
    min-width: 60px; /* Minimum width, flexible */
    text-align: center; /* Ensures text is centered */
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar .nav-link:hover {
    background-color: #f0f0f0; /* Light grey for hover */
    color: #000;
}

/* Logo styling */
.logo img {
    width: 100px;
    height: auto;
}

/* Footer styling */
footer {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    text-align: center;
    padding: 20px 0;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    background-color: #202020;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    transform: translateX(-100%);
    z-index: 1030;
    transition: transform 0.3s ease;
}

.sidebar.active {
    transform: translateX(0);
}

/* Content area styling */
.main-content {
    margin-left: 270px;
    padding-top: 20px;
}

/* Responsive styles */
@media (max-width: 576px) {
    .sidebar {
        min-width: 100%;
        margin-bottom: 20px;
    }
    .main-content {
        margin-left: 0;
        padding-top: 20px;
    }
    footer {
        position: relative;
    }
    .navbar {
        flex-wrap: wrap; /* Allows items to wrap in small screens */
    }
}

.btn-primary {
    background-color: #0056b3;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-warning {
    background-color: #ffc107;
    color: black;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.card {
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,0.075);
}

.table {
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 8px;
}

.pagination {
    display: flex;
    list-style: none;
    padding: 0;
}

.pagination li a {
    padding: 5px 10px;
    margin: 5px;
    background-color: #f8f9fa;
    color: #007bff;
    text-decoration: none;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
}
