:root {
    --primary-color:#0056b3; /* Ярко-синий */
    --secondary-color: #48c78e; /* Светло-зеленый */
    --background-color: #f4f4f4; /* Светлый серый для фонов */
    --text-color: #333333; /* Темно-серый для текста */
    --header-bg-color: #ffffff; /* Белый для шапок */
    --footer-bg-color: #eaeaea; /* Светло-серый для подвала */
}
