/* Базовые настройки */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

/* Стили для шапки */
header {
    background-color: #007bff; /* Синий цвет для шапки */
    color: white;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border-color: rgba(255,255,255,0.1);
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa;
}

/* Стили для основного содержимого */
main {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

.main-content, .how-we-work {
    margin-bottom: 20px;
}

.icon-small {
    width: 50px;
    height: auto;
}

.work-step {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Стили для контактной секции */
.contact-section {
    background-color: #e9ecef;
    padding: 20px;
    border-radius: 5px;
}

.card {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Стили для подвала */
footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px 0;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card.flex-md-row {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .card.flex-md-row {
        flex-direction: row;
        align-items: stretch;
    }
}
