{% extends "polish/home/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="jumbotron text-white rounded bg-dark text-center shadow">
        <h1 class="display-4 font-weight-bold">KIRIS M.O.R.</h1>
    </div>

    <div class="row mb-4">
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card shadow h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <h3 class="mb-3 font-weight-bold">Dla kandydatów</h3>
                    <p class="card-text mb-3 font-weight-semibold">Agencja Pracy KIRIS M.O.R. specjalizuje się...</p>
                    <p class="card-text mb-auto">Agencja Pracy KIRIS M.O.R. specjalizuje się w rekrutacji i zatrudnianiu pracowników z Gruzji,
                    Ukrainy i Mołdawii. Jesteśmy ekspertami w dostosowywaniu ofert pracy do kwalifikacji i oczekiwań naszych klientów.
                    Naszym celem jest zapewnienie Ci stabilnego zatrudnienia oraz wsparcia w procesie legalizacji pracy i pobytu w Polsce.
                    Oferujemy kompleksowe wsparcie na każdym etapie, od aplikacji po zakwaterowanie i integrację w miejscu pracy.
                    Wybierając nas, wybierasz solidnego i doświadczonego partnera w budowaniu Twojej przyszłości zawodowej za granicą.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
            <div class="card shadow h-100 border-0">
                <div class="card-body d-flex flex-column">
                    <h3 class="mb-3 font-weight-bold">Dla klientów</h3>
                    <p class="card-text mb-3 font-weight-semibold">Agencja Pracy KIRIS M.O.R. to renomowany partner...</p>
                    <p class="card-text mb-auto">Agencja Pracy KIRIS M.O.R. to renomowany partner w zakresie międzynarodowej rekrutacji pracowników.
                    Specjalizujemy się w dostarczaniu wykwalifikowanych kandydatów z Gruzji, Ukrainy i Mołdawii,
                    wspierając polskie przedsiębiorstwa w efektywnym wypełnianiu luki kadrowej. Zapewniamy pełne wsparcie w procesie selekcji,
                    legalizacji oraz adaptacji pracowników, gwarantując wysoką jakość i zgodność z obowiązującymi przepisami prawa.
                    Nasze usługi są synonimem niezawodności i dostosowania do specyficznych potrzeb każdej branży.
                    Wybierając Agencję Pracy KIRIS M.O.R., decydujesz się na optymalizację procesów zatrudnienia oraz zwiększenie konkurencyjności Twojego biznesu.</p>
                </div>
            </div>
        </div>
    </div>
    <section class="contact-section mt-4">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-12">
                                <div class="contact-info card p-3">
                                    <h2>Informacje kontaktowe</h2>
                                    <p>Email: <a href="mailto:info@agencja.pracy.pl">info@agencja.pracy.pl</a></p>
                                    <p>Telefon: <a href="tel:+48123456789">+48 123 456 789</a></p>
                                    <p>Adres: ul. Staszica 12c, Wrocław, Polska</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="social-media card p-3">
                                    <h2>Śledź nas</h2>
                                    <a href="#">Facebook</a>
                                    <a href="#">Instagram</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
</div>
{% endblock %}
