{% extends "polish/home/base.html" %}

{% block content %}
<div class="container my-5">
    <h1 class="mb-4 text-center">Zostaw opinię o {{ job.title }}</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            {% if warning_message %}
            <div class="alert alert-warning" role="alert">
                {{ warning_message }}
            </div>
            {% endif %}
            <form id="opinionForm" method="post" action="{% url 'jobs:guest_feedback' job.id %}" class="needs-validation" novalidate>
                {% csrf_token %}
                <fieldset class="mb-3">
                    {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <div class="invalid-feedback d-block">{{ error }}</div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </fieldset>
                <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                    <button type="submit" class="btn btn-primary me-md-2">Wyślij</button>
                    <a href="{% url 'jobs:public_job_list' %}" class="btn btn-secondary">Powrót</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
