{% extends 'home/base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="h4">Szczegóły zapytania</h1>
    <div>
        <h5>{{ job_request.title }}</h5>
        <p><strong>Opis:</strong> {{ job_request.description }}</p>
        <p><strong>Wymagania:</strong> {{ job_request.requirements }}</p>
        <p><strong>Data utworzenia:</strong> {{ job_request.created_at }}</p>
        <p><strong>Status:</strong> {{ job_request.get_status_display }}</p>
    </div>
    <div class="mt-3">
        <h5>Odpowiedzi na zapytanie:</h5>
        {% if status_updates %}
        <ul class="list-group">
            {% for update in status_updates %}
            <li class="list-group-item">
                <p><strong>Nowy status:</strong> {{ update.get_new_status_display }}</p>
                <p><strong>Zaktualizowano:</strong> {{ update.updated_at }}</p>
                <p><strong>Zaktualizowane przez użytkownika:</strong> {{ update.updated_by }}</p>
                {% if update.message %}
                <p><strong>Wiadomość:</strong> {{ update.message }}</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nie ma jeszcze odpowiedzi na to zapytanie.</p>
        {% endif %}
    </div>
    <div class="mt-3">
        <a href="{% url 'requests:client_job_request_list' %}" class="btn btn-secondary">Wróć do moich wniosków</a>
    </div>
</div>
{% endblock %}
