{% extends 'home/base.html' %}

{% block content %}
    <main class="container mt-5 p-5 bg-light shadow-sm rounded">
        <h1 class="mb-4 text-primary text-center">Zmień status zapytania</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_new_status" class="form-label">Nowy status</label>
                {{ form.new_status }}
                {% if form.new_status.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.new_status.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="mb-4">
                <label for="id_message" class="form-label">Wiadomość</label>
                {{ form.message }}
                {% if form.message.errors %}
                    <div class="invalid-feedback d-block">
                        {{ form.message.errors }}
                    </div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary w-100">Zapisz</button>
        </form>
    </main>
{% endblock %}
