{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="h4 fw-bold mb-0">{% trans "Szczegóły zapytania" %}</h2>
        </div>
        <div class="card-body">
            <h5 class="mb-3">{{ job_request.title }}</h5>
            <p class="mb-3">{% trans "Opis:" %} {{ job_request.description }}</p>
            <p class="mb-3">{% trans "Wymagania:" %} {{ job_request.requirements }}</p>
            <p class="mb-3">{% trans "Data utworzenia:" %} {{ job_request.created_at }}</p>
            <p class="mb-3">{% trans "Status:" %}
                {% if job_request.status == 'pending' %}
                    {% trans "Oczekujące" %}
                {% elif job_request.status == 'processing' %}
                    {% trans "W trakcie realizacji" %}
                {% elif job_request.status == 'completed' %}
                    {% trans "Zakończone" %}
                {% endif %}
            </p>
            <a href="{% url 'requests:recruiter_job_request_update' job_request.pk %}" class="btn btn-primary btn-sm me-2">{% trans "Zmień status" %}</a>
            <a href="{% url 'requests:recruiter_job_request_list' %}" class="btn btn-secondary btn-sm">{% trans "Powrót do listy" %}</a>
        </div>
    </div>
</section>
{% endblock %}
