{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="h4 fw-bold mb-0">{% trans "Zarządzanie Zapytaniami" %}</h2>
        </div>
            <div class="card-body">
                <div class="d-flex flex-wrap justify-content-center gap-2 p-3 bg-light shadow-sm rounded mb-4">
                <a href="{% url 'jobs:recruiter_job_list' %}" class="btn btn-primary btn-sm">
                    <i class="bi bi-briefcase"></i> {% trans "Moje Oferty Pracy" %}
                </a>
                <a href="{% url 'jobs:recruiter_applications' %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-list-ul"></i> {% trans "Aplikacje zarejestrowane" %}
                </a>
                <a href="{% url 'jobs:guest_applications' %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-people"></i> {% trans "Aplikacje gości" %}
                </a>
                <a href="{% url 'jobs:create_job' %}" class="btn btn-success btn-sm">
                    <i class="bi bi-plus-circle"></i> {% trans "Dodaj ofertę" %}
                </a>
                <a href="{% url 'jobs:job_list' %}" class="btn btn-warning btn-sm">
                    <i class="bi bi-list-task"></i> {% trans "Wszystkie oferty pracy" %}
                </a>
            </div>
            <div class="list-group">
                {% for job_request in job_requests %}
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                    <div>
                        <h5 class="mb-1">{{ job_request.title }}</h5>
                        <p class="mb-1">{% trans "Opis:" %} {{ job_request.description|truncatechars:140 }}</p>
                        <p class="mb-1">{% trans "Wymagania:" %} {{ job_request.requirements|truncatechars:140}}</p>
                        <p class="mb-1">{% trans "Data utworzenia:" %} {{ job_request.created_at }}</p>
                    </div>
                    <div>
                        <span class="badge bg-secondary rounded-pill">{{ job_request.get_status_display }}</span>
                        <a href="{% url 'requests:recruiter_job_request_update' job_request.pk %}" class="btn btn-primary btn-sm mt-2 me-2">{% trans "Zmień status" %}</a>
                        <a href="{% url 'requests:recruiter_job_request_detail' job_request.pk %}" class="btn btn-info btn-sm mt-2">{% trans "Detali zapytania" %}</a>
                    </div>
                </div>
                {% empty %}
                <div class="alert alert-info mt-3">{% trans "Brak zapytań do obsługi." %}</div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
