{% extends 'home/base.html' %}

{% block content %}
    <main class="container mt-4">
        {% block inner_content %}
            {% if role == 'candidate' %}
                <h1>Panel kandydata</h1>
                <p>Witamy na twoim panelu kandydata!</p>
            {% elif role == 'client' %}
                <h1>Panel klienta</h1>
                <p>Witamy na twoim panelu klienta!</p>
            {% elif role == 'recruiter' %}
                <h1>Panel rekrutera</h1>
                <p>Witamy na twoim panelu rekrutera!</p>
            {% else %}
                <h1>Nieznany panel</h1>
                <p>Nie rozpoznano roli!</p>
            {% endif %}
            
            <h2>Najświeższe wiadomości:</h2>
            <ul>
                {% for news in news_list %}
                    <li><h3>{{ news.title }}</h3><p>{{ news.content }}</p><small>{{ news.date_posted }}</small></li>
                {% empty %}
                    <li>Brak wiadomości do wyświetlenia.</li>
                {% endfor %}
            </ul>
        {% endblock inner_content %}
    </main>
{% endblock content %}
