{% extends 'home/base.html' %}

{% load i18n %}  <!-- Загрузка тега для интернационализации -->

{% block content %}
<section class="container my-5">
    <h2 class="text-center mb-4">{% trans "Moje aplikacje" %}</h2>
    {% if applications %}
        <div class="row">
            {% for application in applications %}
                <div class="col-md-6 mb-4">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ application.job.title }}</h5>
                            <p class="card-text">
                                <i class="bi bi-info-circle"></i> <strong>{% trans "Status:" %}</strong> {{ application.get_status_display }}
                            </p>
                            <p class="card-text">
                                <i class="bi bi-calendar-event"></i> <strong>{% trans "Stworzony:" %}</strong> {{ application.created_at|date:"d M Y H:i" }}
                            </p>
                            {% if application.cover_letter %}
                                <p class="card-text">
                                    <i class="bi bi-file-earmark-text"></i> <strong>{% trans "List motywacyjny:" %}</strong> {{ application.cover_letter }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            {% trans "Nie masz jeszcze żadnych aplikacji." %}
        </div>
    {% endif %}
    <div class="text-center mt-4">
        <a class="btn btn-primary" href="{% url 'jobs:job_list' %}">
            <i class="bi bi-arrow-left"></i> {% trans "Wróć do ofert pracy" %}
        </a>
    </div>
</section>
{% endblock %}
