{% extends 'dashboard/candidate_dashboard.html' %}
{% block content %}
<div class="container">
    <h2>Lista ofert pracy</h2>
    <div class="row">
        {% for job in jobs %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ job.title }}</h5>
                    <p class="card-text">{{ job.description }}</p>
                    <a href="{% url 'job_detail' job_id=job.pk %}" class="btn btn-primary">Szczegóły</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
