{% extends 'dashboard/candidate_dashboard.html' %}
{% block content %}
<div class="dashboard-content border-dashed p-3 m-4 view-height">
    
    <div class="row border-bottom border-3 p-1 m-1">
        <div class="col noPadding"><h3 class="color-header text-uppercase">Мои заявки</h3></div>
    </div>
    
    <div class="container mt-4">
        <div class="card">
            
            <div class="card-body">
                {% if object_list %}
                    <ul class="list-group">
                        {% for application in object_list %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <span>{{ application.job.title }}</span>
                                <span class="badge bg-primary">{{ application.status }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="alert alert-info" role="alert">
                        У вас пока нет заявок.
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
    <div class="pagination">
        {% if has_previous %}
            <a href="?page={{ previous_page }}">&lt; Предыдущая | </a>
        {% else %}
            &lt; Предыдущая | 
        {% endif %}
        
        {% for num in pages %}
            {% if num == current_page %}
                <strong> {{ num }} |</strong>
            {% else %}
                <a href="?page={{ num }}"> {{ num }}|</a>
            {% endif %}
        {% endfor %}
        
        {% if has_next %}
            <a href="?page={{ next_page }}"> Следующая &gt;</a>
        {% else %}
            Следующая &gt;
        {% endif %}
    </div>
    
</div>
{% endblock %}