{% extends 'home/base.html' %}

{% block content %}
<section class="container mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h5 class="card-title mb-0">{{ job.title }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text">{{ job.description }}</p>
            <p class="card-text"><strong>Wymagania:</strong> {{ job.requirements }}</p>
            <p class="card-text"><strong>Wynagrodzenie:</strong> {{ job.salary }}</p>
            <p class="card-text"><strong>Status:</strong> {{ job.status }}</p>
            <p class="card-text"><strong>Data utworzenia:</strong> {{ job.created_at }}</p>
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'jobs:job_list' %}" class="btn btn-primary">Wroc do ofert pracy</a>

            {% if user_role == 'recruiter' %}
                <a href="{% url 'jobs:registered_applications' %}?job_id={{ job.id }}" class="btn btn-secondary">Obejrzyj aplikacje</a>
                <a href="{% url 'jobs:update_job_status' job.id %}" class="btn btn-secondary">Zmień status</a>
            {% elif user_role == 'candidate' %}
                <a href="{% url 'jobs:create_application' job_id=job.pk %}" class="btn btn-success">Aplikuj</a>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
