{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section class="container my-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h2 class="h4 fw-bold mb-0">{% trans 'Lista zarejestrowanych aplikacji dla' %} "{{ job.title }}"</h2>
        </div>
        <div class="card-body">
            <div class="d-flex flex-wrap justify-content-center gap-2 p-3 bg-light shadow-sm rounded mb-4">
                <a href="{% url 'jobs:recruiter_job_list' %}" class="btn btn-primary btn-sm">
                    <i class="bi bi-briefcase"></i> {% trans 'Moje Oferty' %}
                </a>
                <a href="{% url 'jobs:recruiter_applications' %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-list-ul"></i> {% trans 'Aplikacje zarejestrowane' %}
                </a>
                <a href="{% url 'jobs:guest_applications' %}" class="btn btn-secondary btn-sm">
                    <i class="bi bi-people"></i> {% trans 'Aplikacje gości' %}
                </a>
                <a href="{% url 'jobs:create_job' %}" class="btn btn-success btn-sm">
                    <i class="bi bi-plus-circle"></i> {% trans 'Dodaj ofertę' %}
                </a>
                <a href="{% url 'jobs:job_list' %}" class="btn btn-warning btn-sm">
                    <i class="bi bi-list-task"></i> {% trans 'Wszystkie oferty pracy' %}
                </a>
            </div>

            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle table-striped">
                    <thead class="table-primary">
                        <tr>
                            <th>{% trans 'Aplikant' %}</th>
                            <th>{% trans 'Status' %}</th>
                            <th>{% trans 'Data' %}</th>
                            <th>{% trans 'Akcje' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in applications %}
                        <tr>
                            <td>{{ application.get_applicant_full_name }}</td>
                            <td>{{ application.get_status_display }}</td>
                            <td>{{ application.created_at }}</td>
                            <td>
                                <a href="{% url 'jobs:application_detail' application.id %}" class="btn btn-info btn-sm">
                                    <i class="bi bi-info-circle"></i> {% trans 'Detale aplikacji' %}
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4" class="text-center fw-bold">{% trans 'Brak aplikacji do wyświetlenia.' %}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
{% endblock %}
