{% extends 'home/base.html' %}

{% block content %}
<section class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2>
                {% if profile_type == 'candidate' %}
                    Szczegóły profilu kandydata
                {% elif profile_type == 'client' %}
                    Szczegóły profilu klienta
                {% elif profile_type == 'recruiter' %}
                    Szczegóły profilu rekrutera
                {% endif %}
            </h2>
        </div>
        <div class="card-body">
            <p><strong>Email:</strong> {{ profile.user.email }}</p>
            <p><strong>Telefon:</strong> {{ profile.phone_number }}</p>
            <p><strong>Lokalizacja:</strong> {{ profile.location }}</p>
            <p><strong>Bio:</strong> {{ profile.bio }}</p>

            {% if profile_type == 'candidate' %}
                <p><strong>Imię:</strong> {{ profile.first_name }}</p>
                <p><strong>Nazwisko:</strong> {{ profile.last_name }}</p>
                <p><strong>Umiejętności:</strong> {{ profile.skills }}</p>
                <p><strong>Data urodzenia:</strong> {{ profile.date_of_birth }}</p>
            {% elif profile_type == 'client' %}
                <p><strong>Nazwa firmy:</strong> {{ profile.company_name }}</p>
                <p><strong>Branża:</strong> {{ profile.industry }}</p>
            {% elif profile_type == 'recruiter' %}
                <p><strong>Imię:</strong> {{ profile.first_name }}</p>
                <p><strong>Nazwisko:</strong> {{ profile.last_name }}</p>
            {% endif %}
        </div>
        <div class="card-footer text-end">
            <a href="{% url 'accounts:profile_edit' %}" class="btn btn-primary">Edytuj profil</a>
        </div>
    </div>
</section>
{% endblock %}
