{% extends 'home/base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
<section class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="h5">{% if object %}{% trans 'Edytuj zadanie' %}{% else %}{% trans 'Dodaj zadanie' %}{% endif %}</h2>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-success">{% if object %}{% trans 'Zapisz zmiany' %}{% else %}{% trans 'Dodaj zadanie' %}{% endif %}</button>
                    <a href="{% url 'accounts:task_list' %}" class="btn btn-secondary ms-2">{% trans 'Wróć do listy zadań' %}</a>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
